/* General */
*{
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    

}
header{
    background-color: #FFF;
    border-bottom:1px solid #CCC;
}

.msg{
    background-color: #d109a6;
    font-weight: bolder;
    font-size: 20px;
    color: #CCC;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
.row{
    margin: 0;
}
.container-fluid{
    padding: 0;
}
.btn-primary {
    background-color: #F2A340;
    border:2px solid #C28008;

}

/*navbar*/

#navbar img {
    width: 80px;
  }

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
  }

#navbar a{
      font-size: 15px;
      color: #e6205c;
}

#navbar a:hover{
    font-size: 17px;    
    color: #850229;
}

/* Search Container*/

#search-container{
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position:center;
    height: 300px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 60%;
    margin: 0 auto;

}

/* Menu list */

#products-container{
padding: 50px;    
}

#card-container img{
    height: 180px;    
    }
#products-container h2{
    padding: 20px ;
    font-weight: 900;
}
#cards-container{
    display: flex;    
}
#products-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}
#products-container img{
    max-height: 250px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.card .card-title{
    color:#212121;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
}

.card .card-name{
    color:#212121;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}
.card .card-price{
    color:#f70202fd;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
.card .card-status{
    color:#000000;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}

/*Product create page*/
#product-create-container{
    padding: 30px;
}

#product-create-container label{
    font-weight: bold;
}

#product-create-container input,
#product-create-container select{
    font-size: 12px;
}

/* product page*/

#image-container,
#info-container{
    margin-top: 30px;
    border-radius: 10px;
}

#image-container img {
    
    border-radius: 10px;
}

#info-container h1{
   font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin:0;
    font-size: 25px;
    display: flex;
 }

 #info-container ion-icon{
    font-size: 20px;
    color:rgb(88, 62, 62) ;
    margin-right: 20px;
    padding-top: 10px;
 }

 #info-container #product-update{
    margin: 25px 0;
 }
 .img-product img{
   max-height: 600px;
   display: flex;
 }

 /*request page*/

 .personalData{
     margin-top: 20px;
 }

