/* General */
*{
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    

}
header{
    background-color: #FFF;
    border-bottom:1px solid #CCC;
}
.row{
    margin: 0;
}
.container-fluid{
    padding: 0;
}
.btn-primary {
    background-color: #F2A340;
    border:2px solid #C28008;

}

/*navbar*/

#navbar img {
    width: 80px;
  }

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
  }

#navbar a{
      font-size: 15px;
      color: #757575;
}

#navbar a:hover{
    font-size: 20px;    
    color: #F2A340;
}

/* Search Container*/

#search-container{
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position:center;
    height: 300px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 60%;
    margin: 0 auto;

}

/* Menu list */

#products-container{
padding: 50px;    
}
#products-container h2{
    padding: 20px ;
    font-weight: 900;
}
#cards-container{
    display: flex;    
}
#products-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 8px;
}
#products-container img{
    max-height: 150px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.card .card-title{
    color:#212121;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
}

.card .card-name{
    color:#212121;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}
.card .card-price{
    color:#f70202fd;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
.card .card-status{
    color:#000000;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}